In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline 
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv("Datasets/insurance_cleaned.csv")

In [ ]:
data.head()

In [ ]:
data.tail()

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10195 entries, 0 to 10194
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           10195 non-null  int64
 1   Year of Observation  10195 non-null  int64
 2   Insurance Period     10195 non-null  object
 3   Residential          10195 non-null  int64
 4   Building Painted     10195 non-null  object
 5   Building Fenced      10195 non-null  object
 6   Garden               10195 non-null  object
 7   Settlement           10195 non-null  object
 8   Building Dimension   10195 non-null  int64
 9   Building Type        10195 non-null  int64
 10  Date Of Occupancy    10195 non-null  int64
 11  Number of Windows    10195 non-null  int64
 12  Geo Code             10195 non-null  object
 13  Claim                10195 non-null  int64
dtypes: int64(8), object(6)
memory usage: 1.1+ MB

In [4]:
data["Geo Code"].nunique()

1525

Data Preprocessing

In [6]:
# drop the geocode columns it contains too many categories 
data1 = data.drop(["Geo Code","Unnamed: 0"],axis=1)

In [7]:
data1.head()

,Year of Observation,Insurance Period,Residential,Building Painted,Building Fenced,Garden,Settlement,Building Dimension,Building Type,Date Of Occupancy,Number of Windows,Claim
0,2013,6 Months - 1 Year,0,Painted,Not Fenced,Has Garden,Urban area,290,1,1960,4,0
1,2015,6 Months - 1 Year,0,Not Painted,Fenced,No Garden,Rural area,490,1,1850,4,0
2,2014,6 Months - 1 Year,0,Painted,Not Fenced,Has Garden,Urban area,595,1,1960,4,0
3,2013,6 Months - 1 Year,0,Not Painted,Not Fenced,Has Garden,Urban area,2840,1,1960,4,0
4,2014,6 Months - 1 Year,0,Not Painted,Fenced,No Garden,Rural area,680,1,1800,3,0

In [ ]:
# Encode categorical variables  
encode = LabelEncoder()
df_col = list(data1.columns)
for i in range(len(df_col)):
    if data1[df_col[i]].dtype == "object"
       data1[df_col[i]] = encode.fit_transform(data1[df_col[i]])

In [ ]:
data.head()