# Data Cleaning

In [1]:
#import relevant Libraries 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 


sns.set()

In [2]:
raw_data = pd.read_csv('Datasets/InsuranceData.csv')

raw_data.head()

,Unnamed: 0,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,0,H14663,2013,1.0,0,N,V,V,U,290.0,1,1960.0,.,1053,0.0
1,1,H2037,2015,1.0,0,V,N,O,R,490.0,1,1850.0,4,1053,0.0
2,2,H3802,2014,1.0,0,N,V,V,U,595.0,1,1960.0,.,1053,0.0
3,3,H3834,2013,1.0,0,V,V,V,U,2840.0,1,1960.0,.,1053,0.0
4,4,H5053,2014,1.0,0,V,N,O,R,680.0,1,1800.0,3,1053,0.0

In [3]:
data = raw_data.copy()

# drop index and customer_id column
data = data.drop(['Unnamed: 0','Customer Id'], axis=1)

data.reset_index(drop=True, inplace=True)

In [4]:
data.tail()

,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
10224,2015,1.0,0,V,V,V,U,NaN,4,1900.0,.,NaN,NaN
10225,2012,1.0,0,V,V,V,U,NaN,2,1948.0,.,NaN,NaN
10226,2012,1.0,0,V,V,V,U,NaN,2,1993.0,.,NaN,NaN
10227,2013,1.0,0,V,V,V,U,NaN,1,1800.0,.,NaN,NaN
10228,2012,1.0,0,V,V,V,U,NaN,2,1950.0,.,NaN,NaN

In [5]:
#check the descriptives 
data.describe(include='all')

,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
count,10229.000000,10229.000000,10229.000000,10229,10229,10218,10229,10110.000000,10229.000000,8993.000000,10229,10114,7160.000000
unique,NaN,NaN,NaN,2,2,2,2,NaN,NaN,NaN,11,1525,NaN
top,NaN,NaN,NaN,V,V,V,U,NaN,NaN,NaN,.,6088,NaN
freq,NaN,NaN,NaN,7066,5792,5791,5790,NaN,NaN,NaN,5791,238,NaN
mean,2013.646789,0.913672,0.281064,NaN,NaN,NaN,NaN,1818.152918,2.238049,1965.061715,NaN,NaN,0.228212
std,1.380660,0.233806,0.449540,NaN,NaN,NaN,NaN,2272.111284,0.961589,33.548619,NaN,NaN,0.419709
min,2012.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,1545.000000,NaN,NaN,0.000000
25%,2012.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,500.000000,2.000000,1960.000000,NaN,NaN,0.000000
50%,2013.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,1002.000000,2.000000,1970.000000,NaN,NaN,0.000000
75%,2015.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,2190.000000,3.000000,1980.000000,NaN,NaN,0.000000
max,2016.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,30745.000000,4.000000,2016.000000,NaN,NaN,1.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10229 entries, 0 to 10228
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   10229 non-null  int64
 1   Insured_Period      10229 non-null  float64
 2   Residential         10229 non-null  int64
 3   Building_Painted    10229 non-null  object
 4   Building_Fenced     10229 non-null  object
 5   Garden              10218 non-null  object
 6   Settlement          10229 non-null  object
 7   Building Dimension  10110 non-null  float64
 8   Building_Type       10229 non-null  int64
 9   Date_of_Occupancy   8993 non-null   float64
 10  NumberOfWindows     10229 non-null  object
 11  Geo_Code            10114 non-null  object
 12  Claim               7160 non-null   float64
dtypes: float64(4), int64(3), object(6)
memory usage: 1.0+ MB

In [7]:
#check for missing values 
data.isna().sum()

YearOfObservation        0
Insured_Period           0
Residential              0
Building_Painted         0
Building_Fenced          0
Garden                  11
Settlement               0
Building Dimension     119
Building_Type            0
Date_of_Occupancy     1236
NumberOfWindows          0
Geo_Code               115
Claim                 3069
dtype: int64

In [8]:
## Data Statistics 
print(f'Data Shape : \t {data.shape} \n')
print(f'% Of NAN Values :\n \n{data.isna().sum()/len(data)*100}\n')
print(f'Sum Of Duplicate Values :\t {data.duplicated().sum()}')

Data Shape : 	 (10229, 13)

% Of NAN Values :

YearOfObservation      0.000000
Insured_Period         0.000000
Residential            0.000000
Building_Painted       0.000000
Building_Fenced        0.000000
Garden                 0.107537
Settlement             0.000000
Building Dimension     1.163359
Building_Type          0.000000
Date_of_Occupancy     12.083293
NumberOfWindows        0.000000
Geo_Code               1.124255
Claim                 30.002933
dtype: float64

Sum Of Duplicate Values :	 34

Note: Dealing with Missing values 
1. remove duplicates 
3. Replace the null values with mean for categorical and with mean for numerical data

In [9]:
# removing duplicates rows 
data.drop_duplicates(inplace = True)

In [19]:
# check for the mode of the columns 'Garden'
data['Garden'].mode()

0    V
Name: Garden, dtype: object

In [20]:
# check for the mode of the columns 'Building Dimension'
data['Building Dimension'].mean()

1819.6649141950145

In [21]:
# check for the mode of the columns 'Date_of_Occupancy'
data['Date_of_Occupancy'].mode()

0    1960.0
Name: Date_of_Occupancy, dtype: float64

In [23]:
# check for the mode of the columns 'Geo_Code'
data["Geo_Code"].mode()

0    6088
Name: Geo_Code, dtype: object

In [22]:
# check for the mode of the columns 'Claim'
data['Claim'].mode()

0    0.0
Name: Claim, dtype: float64

In [28]:
values = {"Garden":'V',
          "Building Dimension":1819.6649141950145,
          "Date_of_Occupancy":1960.0,
          "Geo_Code":6088,
          "Claim":0.0}

In [29]:
# Replace all NaN value;'Garden','Date_of_Occupancy','Geo_code','Claim' with the mode
# and 'Building Dimension' with the mean 

data.fillna(value=values, inplace=True)

Check for inconsistency in the data

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10195 entries, 0 to 10227
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   10195 non-null  int64
 1   Insured_Period      10195 non-null  float64
 2   Residential         10195 non-null  int64
 3   Building_Painted    10195 non-null  object
 4   Building_Fenced     10195 non-null  object
 5   Garden              10195 non-null  object
 6   Settlement          10195 non-null  object
 7   Building Dimension  10195 non-null  float64
 8   Building_Type       10195 non-null  int64
 9   Date_of_Occupancy   10195 non-null  float64
 10  NumberOfWindows     10195 non-null  object
 11  Geo_Code            10195 non-null  object
 12  Claim               10195 non-null  float64
dtypes: float64(4), int64(3), object(6)
memory usage: 1.1+ MB

In [32]:
data['YearOfObservation'].unique()

array([2013, 2015, 2014, 2012, 2016], dtype=int64)

In [33]:
data['Insured_Period'].unique()

array([1.        , 0.24109589, 0.84383562, 0.95628415, 0.99726776,
       0.08493151, 0.85753425, 0.29589041, 0.        , 0.78142077,
       0.91506849, 0.98630137, 0.16164384, 0.99726027, 0.09589041,
       0.66575343, 0.89315069, 0.02459016, 0.58082192, 0.83287671,
       0.26027397, 0.7479452 , 0.41803279, 0.10410959, 0.76986301,
       0.02465753, 0.47671233, 0.86575342, 0.55464481, 0.16393443,
       0.44808743, 0.50273224, 0.75136612, 0.08196721, 0.46849315,
       0.79726027, 0.31506849, 0.59452055, 0.74863388, 0.17534247,
       0.11780822, 0.12054795, 0.49589041, 0.91530055, 0.48087432,
       0.78082192, 0.02191781, 0.49453552, 0.2431694 , 0.24863388,
       0.69589041, 0.94794521, 0.91256831, 0.50410959, 0.82739726,
       0.52054795, 0.33333333, 0.58196721, 0.86885246, 0.57923497,
       0.83606557, 0.66393443, 0.98356164, 0.24657534, 0.99453552,
       0.74590164, 0.79178082, 0.19452055, 0.96721311, 0.41643836,
       0.95342466, 0.41369863, 0.25205479, 0.80273973, 0.98907104,
       0.38356164, 0.91780822, 0.25136612, 0.70491803, 0.15068493,
       0.48493151, 0.96448087, 0.62191781, 0.12021858, 0.63114754,
       0.21369863, 0.92328767, 0.82786885, 0.3369863 , 0.32876712,
       0.84931507, 0.81967213, 0.42076503, 0.84657534, 0.41530055,
       0.64657534, 0.96712329, 0.27123288, 0.89863014, 0.33972603,
       0.66849315, 0.50958904, 0.78356164, 0.08767123, 0.03835616,
       0.75409836, 0.29315069, 0.57103825, 0.25956284, 0.75342466,
       0.65753425, 0.44383562, 0.67123288, 0.72876712, 0.16666667,
       0.79452055, 0.43169399, 0.35890411, 0.4109589 , 0.18356164,
       0.03005465, 0.21917808, 0.77808219, 0.32328767, 0.39344262,
       0.47540984, 0.46575342, 0.22465753, 0.73150685, 0.19125683,
       0.46721312, 0.49315068, 0.24590164, 0.97808219, 0.91232877,
       0.90163934, 0.54644809, 0.09315068, 0.5369863 , 0.01639344,
       0.36712329, 0.45753425, 0.95890411, 0.25479452, 0.83835616,
       0.08219178, 0.61202186, 0.23770492, 0.80327869, 0.14754098,
       0.03825137, 0.16712329, 0.12876712, 0.87123288, 0.74520548,
       0.33060109, 0.0739726 , 0.07671233, 0.08469945, 0.15890411,
       0.14246575, 0.23561644, 0.72054794, 0.12328767, 0.53972603,
       0.13150685, 0.89041096, 0.29781421, 0.21311475, 0.83333333,
       0.61369863, 0.9726776 , 0.77868852, 0.35245902, 0.58469945,
       0.93715847, 0.71311475, 0.95616438, 0.48219178, 0.3479452 ,
       0.18630137, 0.2109589 , 0.45081967, 0.95355191, 0.82240437,
       0.6420765 , 0.63387978, 0.96438356, 0.86849315, 0.56284153,
       0.37704918, 0.57377049, 0.10684932, 0.23013699, 0.63013699,
       0.88219178, 0.21643836, 0.81643836, 0.10958904, 0.1890411 ,
       0.8739726 , 0.26849315, 0.75068493, 0.84109589, 0.68032787,
       0.82191781, 0.86027397, 0.59726027, 0.56712329, 0.43561644,
       0.54098361, 0.33424657, 0.63287671, 0.30874317, 0.43715847,
       0.57808219, 0.92076503, 0.93150685, 0.32054795, 0.81369863,
       0.87431694, 0.7369863 , 0.715847  , 0.45355191, 0.16438356,
       0.77534247, 0.8       , 0.83060109, 0.03278689, 0.60547945,
       0.49726776, 0.06027397, 0.42896175, 0.9260274 , 0.58630137,
       0.19726027, 0.06010929, 0.60655738, 0.19398907, 0.43835616,
       0.45901639, 0.27671233, 0.81917808, 0.66666667, 0.45479452,
       0.22191781, 0.85479452, 0.95068493, 0.90710382, 0.8442623 ,
       0.88767123, 0.94246575, 0.94520548, 0.60928962, 0.97260274,
       0.53551913, 0.09863014, 0.44535519, 0.64109589, 0.9369863 ,
       0.67486339, 0.17260274, 0.07103825, 0.90684931, 0.48767123,
       0.19672131, 0.70958904, 0.51780822, 0.30136986, 0.06557377,
       0.89344262, 0.88493151, 0.47123288, 0.47945205, 0.93424657,
       0.22739726, 0.90136986, 0.20547945, 0.99452055, 0.34426229,
       0.29508197, 0.2       , 0.6630137 , 0.82465753, 0.52328767,
       0.0520548 , 0.75616438, 0.7890411 , 0.15300546, 0.55616438,
       0.10928962, 0.51092896, 0.76712329, 0.5273224 , 0.36164384,
       0.96174863, 0.84699454, 0.30054645, 0.28493151, 0.83879781,
       0.53424657, 0.89071038, 0.00273224, 0.80547945, 0.97534247,
       0.54520548, 0.87978142, 0.04918033, 0.04644809, 0.79781421,
       0.2630137 , 0.56010929, 0.88251366, 0.20821918, 0.04109589,
       0.38082192, 0.18082192, 0.88797814, 0.90958904, 0.24931507,
       0.78961749, 0.31147541, 0.96164384, 0.73424658, 0.12295082,
       0.14480874, 0.95081967, 0.29041096, 0.65205479, 0.1369863 ,
       0.30327869, 0.1147541 , 0.15846995, 0.79508197, 0.6       ,
       0.90983607, 0.46448087, 0.83013699, 0.56438356, 0.34520548,
       0.4520548 , 0.33150685, 0.54371585, 0.01092896, 0.34153005,
       0.17759563, 0.69315068, 0.04383562, 0.5       , 0.54918033,
       0.44931507, 0.20218579, 0.07945205, 0.71038251, 0.37808219,
       0.68852459, 0.52185792, 0.5260274 , 0.69863014, 0.6739726 ,
       0.05191257, 0.5479452 , 0.60382514, 0.79234973, 0.7431694 ,
       0.16986301, 0.9890411 , 0.70218579, 0.80821918, 0.46994536,
       0.05753425, 0.75956284, 0.60821918, 0.68219178, 0.07923497,
       0.33879781, 0.18032787, 0.06830601, 0.37260274, 0.94262295,
       0.17213115, 0.92896175, 0.85519126, 0.32786885, 0.99178082,
       0.81147541, 0.05479452, 0.78630137, 0.8109589 , 0.43442623,
       0.67759563, 0.40273973, 0.96986301, 0.15342466, 0.58356164,
       0.04657534, 0.66027397, 0.03561644, 0.73972603, 0.94535519,
       0.03013699, 0.36986301, 0.4       , 0.35616438, 0.01643836,
       0.7704918 , 0.1260274 , 0.61917808, 0.57534247, 0.37534247,
       0.06284153, 0.68493151, 0.54246575, 0.32513661, 0.09016393,
       0.4726776 , 0.03551913, 0.36438356, 0.70410959, 0.68306011,
       0.71780822, 0.6109589 , 0.10136986, 0.62465753, 0.55890411,
       0.35068493, 0.03287671, 0.12568306, 0.65300546, 0.77260274,
       0.98360656, 0.31967213, 0.49180328, 0.02739726, 0.20273973,
       0.39178082, 0.90410959, 0.93972603, 0.67671233, 0.69041096,
       0.28142077, 0.3260274 , 0.68767123, 0.42191781, 0.87671233,
       0.59178082, 0.51232877, 0.36612022, 0.24383562, 0.64383562,
       0.22131148, 0.04931507, 0.09041096, 0.44657534, 0.50546448,
       0.35342466, 0.06849315, 0.28219178, 0.86612022, 0.0109589 ,
       0.70765027, 0.45628415, 0.17486339, 0.30410959, 0.13661202,
       0.40547945, 0.86338798])

In [34]:
data['Residential'].unique()

array([0, 1], dtype=int64)

In [35]:
data['Building_Painted'].unique()

array(['N', 'V'], dtype=object)

In [36]:
data['Building_Fenced'].unique()

array(['V', 'N'], dtype=object)

In [37]:
data['Garden'].unique()

array(['V', 'O'], dtype=object)

In [38]:
data['Settlement'].unique()

array(['U', 'R'], dtype=object)

In [39]:
data['Building Dimension'].unique()

array([ 290.,  490.,  595., ..., 3530., 1888., 2575.])

In [40]:
data['Building_Type'].unique()

array([1, 2, 4, 3], dtype=int64)

In [41]:
data['Date_of_Occupancy'].unique()

array([1960., 1850., 1800., 1980., 1988., 2013., 2011., 1550., 1900.,
       2007., 1970., 1950., 1700., 1976., 1940., 1920., 1982., 1972.,
       2010., 1971., 1995., 2006., 1999., 1969., 1985., 1965., 1981.,
       1975., 1997., 2003., 1990., 1930., 1973., 1991., 1974., 1978.,
       1967., 1927., 1952., 1957., 2009., 1977., 1890., 1949., 1951.,
       2008., 1987., 2000., 1962., 1956., 1993., 1912., 1983., 1954.,
       1968., 2004., 1936., 1958., 1966., 1953., 1979., 1946., 1955.,
       2001., 1870., 1961., 2015., 1613., 1964., 1984., 2014., 2002.,
       1986., 1992., 2005., 2012., 1910., 1945., 1864., 1942., 1939.,
       1934., 1998., 1908., 1948., 1860., 1926., 1938., 1895., 1545.,
       1959., 1989., 1996., 1963., 1840., 2016., 1718., 1600., 1875.,
       1898., 1880., 1915., 1994., 1810., 1937., 1907., 1931., 1925.,
       1935., 1824., 1914., 1750., 1846., 1903., 1905., 1906., 1830.,
       1923., 1924., 1928., 1947., 1911., 1901., 1902., 1904., 1919.,
       1896., 1913., 1893., 1820., 1884., 1871., 1780., 1929., 1922.,
       1856., 1803., 1854., 1932.])

In [42]:
data['NumberOfWindows'].unique()

array(['   .', '4', '3', '2', '5', '>=10', '6', '7', '9', '8', '1'],
      dtype=object)

In [43]:
data['Geo_Code'].unique()

array(['1053', '1143', '1160', ..., '2B037', '2B298', '2B309'],
      dtype=object)

In [44]:
data['Claim'].unique()

array([0., 1.])

Dealing with inconsistencies

In [45]:
# Type Conversion
data['Insured_Period'] = pd.to_numeric(data['Insured_Period'])

# Filtering
dfLess50Percent = data[data['Insured_Period'] <= 0.50]
dfOver50Percent = data[data['Insured_Period'] > 0.50]

# Values Replacement
data['Insured_Period'].replace(dfLess50Percent['Insured_Period'].values, "0 - 5 Months", inplace=True)
data['Insured_Period'].replace(dfOver50Percent['Insured_Period'].values, "6 Months - 1 Year", inplace=True)

# Unique Values
data['Insured_Period'].unique()

array(['6 Months - 1 Year', '0 - 5 Months'], dtype=object)

In [58]:
# Replace incosistent '  .' with 4 the second mode and '>=10' with 10 since 10 is the highest value recorded 
data['NumberOfWindows'].replace({'   .':4, '>=10':10}, inplace=True)

# change to dtype to int64
data['NumberOfWindows'] = data['NumberOfWindows'].astype('int64')
#data['NumberOfWindows'].str.isdigit().sum()
#df = data[data['NumberOfWindows'].str.isdigit()]

In [62]:
#change dtype to 'int64'

data['Date_of_Occupancy'] = data['Date_of_Occupancy'].astype('int64')
data['Claim'] = data['Claim'].astype('int64')
data['Building Dimension'] = data['Building Dimension'].astype('int64')
data['']

In [64]:
# Replace (N-Painted, V-Not Painted)
data['Building_Painted'].replace('N', 'Painted', inplace=True)
data['Building_Painted'].replace('V', 'Not Painted', inplace=True)
# Replace (V-has garden; O-no garden)
data['Garden'].replace({'V':'Has Garden','O':'No Garden'}, inplace=True)
# Replace (N-Fenced, V-Not Fenced)
data['Building_Fenced'].replace({'N':'Fenced','V':'Not Fenced'},inplace=True)
# Replace (R- rural area; U- urban area)
data['Settlement'].replace({'R': 'Rural area','U': 'Urban area'},inplace=True)

In [68]:
#  Rename columns
data.rename({'Insured_Period':'Insurance Period', 
           'Building_Type':'Building Type', 
           'Building_Painted': 'Building Painted',
           'Building_Fenced' : 'Building Fenced',
           'NumberOfWindows' : 'Number of Windows',
           'Geo_Code': 'Geo Code',
           'Date_of_Occupancy':'Date Of Occupancy',
           'YearOfObservation':'Year of Observation'},
          axis=1, inplace=True)

In [74]:
Insurance_cleaned = data.copy()

In [76]:
Insurance_cleaned.to_csv('Insurance_cleaned.csv')

In [77]:
data

,Year of Observation,Insurance Period,Residential,Building Painted,Building Fenced,Garden,Settlement,Building Dimension,Building Type,Date Of Occupancy,Number of Windows,Geo Code,Claim
0,2013,6 Months - 1 Year,0,Painted,Not Fenced,Has Garden,Urban area,290,1,1960,4,1053,0
1,2015,6 Months - 1 Year,0,Not Painted,Fenced,No Garden,Rural area,490,1,1850,4,1053,0
2,2014,6 Months - 1 Year,0,Painted,Not Fenced,Has Garden,Urban area,595,1,1960,4,1053,0
3,2013,6 Months - 1 Year,0,Not Painted,Not Fenced,Has Garden,Urban area,2840,1,1960,4,1053,0
4,2014,6 Months - 1 Year,0,Not Painted,Fenced,No Garden,Rural area,680,1,1800,3,1053,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10223,2012,6 Months - 1 Year,0,Not Painted,Not Fenced,Has Garden,Urban area,1819,4,1900,4,6088,0
10224,2015,6 Months - 1 Year,0,Not Painted,Not Fenced,Has Garden,Urban area,1819,4,1900,4,6088,0
10225,2012,6 Months - 1 Year,0,Not Painted,Not Fenced,Has Garden,Urban area,1819,2,1948,4,6088,0
10226,2012,6 Months - 1 Year,0,Not Painted,Not Fenced,Has Garden,Urban area,1819,2,1993,4,6088,0
10227,2013,6 Months - 1 Year,0,Not Painted,Not Fenced,Has Garden,Urban area,1819,1,1800,4,6088,0