# Data Cleaning

In [1]:
#import relevant Libraries 
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

sns.set()

In [2]:
raw_data = pd.read_csv('Datasets/InsuranceData.csv')

raw_data.head()

,Unnamed: 0,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,0,H14663,2013,1.0,0,N,V,V,U,290.0,1,1960.0,.,1053,0.0
1,1,H2037,2015,1.0,0,V,N,O,R,490.0,1,1850.0,4,1053,0.0
2,2,H3802,2014,1.0,0,N,V,V,U,595.0,1,1960.0,.,1053,0.0
3,3,H3834,2013,1.0,0,V,V,V,U,2840.0,1,1960.0,.,1053,0.0
4,4,H5053,2014,1.0,0,V,N,O,R,680.0,1,1800.0,3,1053,0.0

In [3]:
data = raw_data.copy()

# drop index and customer_id column
data = data.drop(['Unnamed: 0','Customer Id'], axis=1)

data.reset_index(drop=True, inplace=True)

In [4]:
data.tail()

,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
10224,2015,1.0,0,V,V,V,U,NaN,4,1900.0,.,NaN,NaN
10225,2012,1.0,0,V,V,V,U,NaN,2,1948.0,.,NaN,NaN
10226,2012,1.0,0,V,V,V,U,NaN,2,1993.0,.,NaN,NaN
10227,2013,1.0,0,V,V,V,U,NaN,1,1800.0,.,NaN,NaN
10228,2012,1.0,0,V,V,V,U,NaN,2,1950.0,.,NaN,NaN

In [5]:
#check the descriptives 
data.describe(include='all')

,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
count,10229.000000,10229.000000,10229.000000,10229,10229,10218,10229,10110.000000,10229.000000,8993.000000,10229,10114,7160.000000
unique,NaN,NaN,NaN,2,2,2,2,NaN,NaN,NaN,11,1525,NaN
top,NaN,NaN,NaN,V,V,V,U,NaN,NaN,NaN,.,6088,NaN
freq,NaN,NaN,NaN,7066,5792,5791,5790,NaN,NaN,NaN,5791,238,NaN
mean,2013.646789,0.913672,0.281064,NaN,NaN,NaN,NaN,1818.152918,2.238049,1965.061715,NaN,NaN,0.228212
std,1.380660,0.233806,0.449540,NaN,NaN,NaN,NaN,2272.111284,0.961589,33.548619,NaN,NaN,0.419709
min,2012.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,1545.000000,NaN,NaN,0.000000
25%,2012.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,500.000000,2.000000,1960.000000,NaN,NaN,0.000000
50%,2013.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,1002.000000,2.000000,1970.000000,NaN,NaN,0.000000
75%,2015.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,2190.000000,3.000000,1980.000000,NaN,NaN,0.000000
max,2016.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,30745.000000,4.000000,2016.000000,NaN,NaN,1.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10229 entries, 0 to 10228
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   10229 non-null  int64
 1   Insured_Period      10229 non-null  float64
 2   Residential         10229 non-null  int64
 3   Building_Painted    10229 non-null  object
 4   Building_Fenced     10229 non-null  object
 5   Garden              10218 non-null  object
 6   Settlement          10229 non-null  object
 7   Building Dimension  10110 non-null  float64
 8   Building_Type       10229 non-null  int64
 9   Date_of_Occupancy   8993 non-null   float64
 10  NumberOfWindows     10229 non-null  object
 11  Geo_Code            10114 non-null  object
 12  Claim               7160 non-null   float64
dtypes: float64(4), int64(3), object(6)
memory usage: 1.0+ MB

In [7]:
#check for missing values 
data.isna().sum()

YearOfObservation        0
Insured_Period           0
Residential              0
Building_Painted         0
Building_Fenced          0
Garden                  11
Settlement               0
Building Dimension     119
Building_Type            0
Date_of_Occupancy     1236
NumberOfWindows          0
Geo_Code               115
Claim                 3069
dtype: int64

In [8]:
# data shape,percentagee of null values and duplicates 
print(f'Data Shape : \t {data.shape} \n')
print(f'% Of NAN Values :\n \n{data.isna().sum()/len(data)*100}\n')
print(f'Sum Of Duplicate Values :\t {data.duplicated().sum()}')

Data Shape : 	 (10229, 13)

% Of NAN Values :

YearOfObservation      0.000000
Insured_Period         0.000000
Residential            0.000000
Building_Painted       0.000000
Building_Fenced        0.000000
Garden                 0.107537
Settlement             0.000000
Building Dimension     1.163359
Building_Type          0.000000
Date_of_Occupancy     12.083293
NumberOfWindows        0.000000
Geo_Code               1.124255
Claim                 30.002933
dtype: float64

Sum Of Duplicate Values :	 34

Note: Dealing with Missing values 
1. remove duplicates 
3. Replace the null values with mean for categorical and with mean for numerical data

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10229 entries, 0 to 10228
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   10229 non-null  int64
 1   Insured_Period      10229 non-null  float64
 2   Residential         10229 non-null  int64
 3   Building_Painted    10229 non-null  object
 4   Building_Fenced     10229 non-null  object
 5   Garden              10218 non-null  object
 6   Settlement          10229 non-null  object
 7   Building Dimension  10110 non-null  float64
 8   Building_Type       10229 non-null  int64
 9   Date_of_Occupancy   8993 non-null   float64
 10  NumberOfWindows     10229 non-null  object
 11  Geo_Code            10114 non-null  object
 12  Claim               7160 non-null   float64
dtypes: float64(4), int64(3), object(6)
memory usage: 1.0+ MB

In [10]:
# removing duplicates rows 
data.drop_duplicates(inplace = True)

In [11]:
# check for the mode of the columns 'Garden'
data['Garden'].mode()

0    V
Name: Garden, dtype: object

In [12]:
# check for the mode of the columns 'Building Dimension'
data['Building Dimension'].mean()

1819.6649141950204

In [13]:
# check for the mode of the columns 'Date_of_Occupancy'
data['Date_of_Occupancy'].mode()

0    1960.0
Name: Date_of_Occupancy, dtype: float64

In [14]:
# check for the mode of the columns 'Geo_Code'
data["Geo_Code"].mode()

0    6088
Name: Geo_Code, dtype: object

In [15]:
values = {"Garden":'V',
          "Building Dimension":1819.6649141950145,
          "Date_of_Occupancy":1960.0,
          "Geo_Code":6088
          }

In [16]:
# Replace all NaN value;'Garden','Date_of_Occupancy','Geo_code','Claim' with the mode
# and 'Building Dimension' with the mean 

data.fillna(value=values, inplace=True)

NOTE: The Claim columns also contains Missing values instead of replacing the values we'd drop them, the missing data cannot be imputed accurately or reliably, we would store them as unlabelled test set 
and feed them into trained model in the third chapter of this Project "data modelling".

In [17]:
unlabelled_test_set = data[data["Claim"].isna()]

In [18]:
unlabelled_test_set.to_csv("unlabelled_test_set.csv")

In [19]:
#Dropped the missing values in our labels
data2 = data.dropna()

Check for inconsistency in the data

In [20]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7148 entries, 0 to 7159
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   7148 non-null   int64
 1   Insured_Period      7148 non-null   float64
 2   Residential         7148 non-null   int64
 3   Building_Painted    7148 non-null   object
 4   Building_Fenced     7148 non-null   object
 5   Garden              7148 non-null   object
 6   Settlement          7148 non-null   object
 7   Building Dimension  7148 non-null   float64
 8   Building_Type       7148 non-null   int64
 9   Date_of_Occupancy   7148 non-null   float64
 10  NumberOfWindows     7148 non-null   object
 11  Geo_Code            7148 non-null   object
 12  Claim               7148 non-null   float64
dtypes: float64(4), int64(3), object(6)
memory usage: 781.8+ KB

In [21]:
#  display unique values 
def unique_values(df):
    for col in df.columns:
        unique_vals = df[col].unique()
        print(f"Unique values {col} : {unique_vals}")

In [22]:
unique_values(data2.iloc[:,2:])

Unique values Residential : [0 1]
Unique values Building_Painted : ['N' 'V']
Unique values Building_Fenced : ['V' 'N']
Unique values Garden : ['V' 'O']
Unique values Settlement : ['U' 'R']
Unique values Building Dimension : [ 290.  490.  595. ... 4207. 1775. 1017.]
Unique values Building_Type : [1 2 4 3]
Unique values Date_of_Occupancy : [1960. 1850. 1800. 1980. 1988. 2013. 2011. 1550. 1900. 2007. 1970. 1950.
 1700. 1976. 1940. 1920. 1982. 1972. 2010. 1971. 1995. 2006. 1999. 1969.
 1985. 1965. 1981. 1975. 1997. 2003. 1990. 1930. 1973. 1991. 1974. 1978.
 1967. 1927. 1952. 1957. 2009. 1977. 1890. 1949. 1951. 2008. 1987. 2000.
 1962. 1956. 1993. 1912. 1983. 1954. 1968. 2004. 1936. 1958. 1966. 1953.
 1979. 1946. 1955. 2001. 1870. 1961. 2015. 1613. 1964. 1984. 2014. 2002.
 1986. 1992. 2005. 2012. 1910. 1945. 1864. 1942. 1939. 1934. 1998. 1908.
 1948. 1860. 1926. 1938. 1895. 1545. 1959. 1989. 1996. 1963. 1840. 2016.
 1718. 1600. 1875. 1898. 1880. 1915. 1994. 1810. 1937. 1907. 1931. 1925.
 1935. 1824. 1914. 1750. 1846. 1903. 1905. 1906. 1830. 1923. 1924. 1928.
 1947. 1911. 1901. 1902. 1904. 1919. 1896. 1913. 1893. 1820. 1884. 1871.
 1780. 1929.]
Unique values NumberOfWindows : ['   .' '4' '3' '2' '5' '>=10' '6' '7' '9' '8' '1']
Unique values Geo_Code : ['1053' '1143' '1160' ... '2B096' '2B353' 6088]
Unique values Claim : [0. 1.]

# Dealing with inconsistencies

In [23]:
# Type Conversion
data2.loc[:,'Insured_Period'] = pd.to_numeric(data2['Insured_Period'])


# Filtering
dfLess50Percent = data2[data2['Insured_Period'] <= 0.50]
dfOver50Percent = data2[data2['Insured_Period'] > 0.50]

# Values Replacement
data2.loc[dfLess50Percent.index, 'Insured_Period'] = "0 - 5 Months"
data2.loc[dfOver50Percent.index, 'Insured_Period'] = "6 Months - 1 Year"

# Unique Values
data2['Insured_Period'].unique()

array(['6 Months - 1 Year', '0 - 5 Months'], dtype=object)

In [24]:
# Replace incosistent '  .' with 4 the second mode and '>=10' with 10 since 10 is the highest value recorded 
data2['NumberOfWindows'].replace({'   .':4, '>=10':10}, inplace=True)

# change to dtype to int64
data2['NumberOfWindows'] = data2['NumberOfWindows'].astype('int64')
#data['NumberOfWindows'].str.isdigit().sum()
#df = data[data['NumberOfWindows'].str.isdigit()]

In [25]:
# change yeaof obseravtion to date type 
data2['YearOfObservation'] = pd.to_datetime(data['YearOfObservation'], format='%Y')
#change dtype to 'int64'

data2['Date_of_Occupancy'] = data2['Date_of_Occupancy'].astype('int64')
data2['Claim'] = data2['Claim'].astype('int64')
data2['Building Dimension'] = data2['Building Dimension'].astype('int64')

In [26]:
# Replace (N-Painted, V-Not Painted)
data2['Building_Painted'].replace({'N':'Painted','V':'Not Painted'},inplace=True)
# Replace (V-has garden; O-no garden)
data2['Garden'].replace({'V':'Has Garden','O':'No Garden'}, inplace=True)
# Replace (N-Fenced, V-Not Fenced)
data2['Building_Fenced'].replace({'N':'Fenced','V':'Not Fenced'},inplace=True)
# Replace (R- rural area; U- urban area)
data2['Settlement'].replace({'R': 'Rural area','U': 'Urban area'},inplace=True)

In [27]:
#  Rename columns
data2 = data2.rename({'Insured_Period':'Insurance Period', 
           'Building_Type':'Building Type', 
           'Building_Painted': 'Building Painted',
           'Building_Fenced' : 'Building Fenced',
           'NumberOfWindows' : 'Number of Windows',
           'Geo_Code': 'Geo Code',
           'Date_of_Occupancy':'Date Of Occupancy',
           'YearOfObservation':'Year of Observation'},
          axis=1)

In [28]:
Insurance_cleaned = data2.copy()

In [29]:
Insurance_cleaned.to_csv('Insurance_cleaned.csv')